<html ng-app="myApp" >
    <head>
        <meta charset="utf-8">
        <script src="../node_modules/angular/angular.js"></script>
        <script src="../scripts/ex1_3/controllers.js"></script>
    </head>

    <body>
    <div ng-controller="CartController">
        <h1>您的购物车</h1>
        <div ng-repeat="item in items">
            <span>{{item.title}}</span>
            <input ng-model="item.quantity">
            <span>{{item.price | currency}}</span>
            <span>{{item.price * item.quantity | currency}}</span>
            <button ng-click="remove($index)">Remove</button>
        </div>
    </div>
    </body>
</html>